.title {
  font-family: Roboto;
  font-weight: 40px;
  font-size: 20px;
}

.list:hover {
  overflow-x: overlay;
}
.list {
  display: flex;
  width: 100vw - 25px;
  overflow-x: hidden;
}

.tv_show_list_item {
  margin-right: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}